extends layout

block content
  div.d-flex.flex-wrap.gap-2
    button(class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#folderModal" style="background-color: #EBAA28; color: white")
      i(class="fa-solid fa-plus me-2")
      span Nueva Carpeta

    label(for="file-upload" class="btn btn-sucess mb-3" style="background-color: #98EB28; color: white") 
      i(class="fa-solid fa-plus me-2")
      span Subir Archivos
    input(type="file" id="file-upload" style="display: none" multiple="true")

  - var back = false
  if data[0].type === "back"
    a(href=data[0].url class="w-100 text-center btn btn-secondary p-3") Back
    - back = true

  div.d-flex.flex-wrap.gap-3.mt-3.justify-content-center
    each file in data.slice(back ? 1 : 0)
      a(href=file.url class="card" style="width: 10rem; border: none; text-decoration: none")
        if file.type === "directory"
          i(class="fa-solid fa-folder card-img-top text-center" style="font-size: 7rem; color: #FFE333")
        else
          case checkFileType(file.name)
            when "image"
              img(src=file.url class="rounded" style="aspect-ratio: 1/1; object-fit: cover")
            when "video"
              video(src=file.url class="rounded" style="aspect-ratio: 1/1; object-fit: cover")
            when "file"
              i(class="fa-solid fa-file card-img-top text-center" style="font-size: 7rem; color: #67A6F7")

        p.card-body.text-center.small #{file.name}
        
  script(src="js/uploadFile.js")
